gris_oscuro = #444
gris_texto = #7a7a7a
azul = #22BCE0
naranja = #dd4f24


@font-face {
	font-family: 'iconito';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



a 
	color naranja


body
	background #e8e8e8
	color gris_oscuro
	font-family arial 
	font-size 16px
	
	#formulario
		padding 1.5em
		label
			margin-left 1em


footer
	
	background naranja
	color  rgba(255, 255, 255, .5)
	text-align center
	padding 1em 0
	width 100%


	h3 
		font-size 14px
		font-weight normal

		strong
			display block

		.mejor
			&:before
				content "-"
			&:after	
				content "-"


header
	background gris_oscuro
	box-shadow 0 5px rgba(0, 0, 0, .20)
	color white
	padding 0.5em
	position relative
	overflow hidden
	z-index 1

	.logo
		border-right 1px solid azul
		float left
		width 60px

		img
			width 52px
	
	.titular
		margin 0 60px 0 70px

		.filtro
			color azul
			text-decoration none
			font-weight bold
			font-style italic
			font-size 14px

		.publicar
			background naranja
			color white
			padding 0.2em 0.5em
			font-style italic
			text-decoration none
			text-shadow 1px 1px 0px black 
			float right
			margin-right 10px
			margin-top -5px

			&:before
				display inline-block
				margin 0  3px
				font-family "iconito"
				content "\e600"

		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		right 10px
		top 10px
		.avatar
			position relative
			margin 0 1.3em 0 0
			z-index 2
			img
				width 50px
				border-radius 50%

		.flechita
			display block
			color white
			text-align right
			background naranja
			position absolute
			width 50%
			top 0
			right 0 
			top 15px
			padding 3px
			text-decoration none

			&:after
				display inline-block
				text-shadow 1px 1px 0px black
				font-family "iconito"
				content "\e603"
				padding 3px
			
 
nav
	background azul
	border-left 15px solid white
	position relative

	&:before
		content ""
		border-left 7px solid white
		border-bottom 20px solid transparent
		border-top 20px solid transparent
		position absolute
		bottom 0px
		left 0px

	.menu
		height 40px
		line-height 40px
		margin 0
		overflow-x auto
		text-align left
		white-space nowrap
		padding 0 
		
		li
			display inline-block
			
			a
				
				color white
				display block
				text-decoration none
				margin 0 0.5em
				padding 0 0.2em
		


.posts
	padding 0.5em

	.post
		background white
		color gris_texto
		box-shadow 2px 2px 10px rgba(0, 0, 0, 0.5)
		border-radius 0 0 0.5em  0.5em
		margin-bottom 0.5em

		.acciones
			border-top 3px solid azul
			padding 0.5em
			overflow-x hidden

			.datos
				float right

				.comentarios
					background gris_texto
					color white
					margin  0 1em 0 0
					padding 2px 5px
					text-decoration none
					border-radius 3px
					position relative

					&:after
						content ""
						position: absolute
						left 10px
						top 20px
						padding 5px 0 0 0 
						border-top 5px solid gris_texto
						border-left 5px solid transparent
						border-right 5px solid transparent
									
				.estrellita
					text-decoration none

					&:after
						font-family "iconito"
						color #927C22
						content "\e601"
						text-shadow 1px



			.votos	
				float left
	
				.down, .up
					text-decoration none
					vertical-align top
					line-height 1.5em	

				.down
					color red

					&:before
						font-family "iconito"
						content "\e603"
						font-size 1.5em
						top 5px
						position relative
				.up	
					color green	

					&:before
						font-family "iconito"
						content "\e602"
						font-size 1.5em	
						top 5px
						position relative
		.descripcion
			color gris_texto

			.detalles
				height 160px
				margin-left 130px

				.autor
					margin 0.5em 0  2em 0


				.tag
					background blue
					border-radius 0.5em
					color white
					padding 0.2em 0.5em
					text-decoration none

				.fecha
					float right
					margin 0 1em 0 0
 

				.titulo
					color gris_oscuro
					font-size 18px
					font-style italic
					margin 0 
					padding 0.5em 0.5em 0 0


			.imagen
				float left

				img
					width 120px
					vertical-align top
					height 160px


@media screen and (min-width: 768px)


	.posts
		.post
			margin 0 auto
			width 48%
			vertical-align top
			display inline-block
			margin-top 15px

			&:nth-child(odd)
				margin-right 2%

	header
		.titular
			.publicar
				padding-left 3em 
				position relative
				&:before
					left -10px
					top -10px 
					
					position absolute
					font-size 2.5em

	
						